/* 
Основний колір тексту #757575 
Колір заголовків #212121
Колір заголовку Н1  #FFFFFF
Колір адреса в футері rgba(255, 255, 255, 0.6);

Шрифти 
Основний Roboto  Weight 400, Regular
Підписи заголовків Н3 Roboto  Weight 500, Medium
Заголовки Н2: Roboto Weight 700, Bold
Заголовок Н1 Roboto Weight 900, Black

Основний колір обгортки #F5F4FA
Основний колір фону #FFFFFF
Головний акцентний колір #2196F3 
*/

:root {
  --basic-text-color: #757575;
  --basic-bgc-color: #ffffff;
  --wrapper-bgc-color: #f5f4fa;
  --title-color: #212121;
  --main-accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--basic-text-color);
  background-color: var(--basic-bgc-color);

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* basic styles */
.list {
  list-style: none;
}

/* header styles start */
.accent-logo {
  color: var(--main-accent-color);
}
.header-logo {
  color: #000;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.header-link {
  color: var(--title-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.current-link {
  color: var(--main-accent-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--main-accent-color);
}
.auth-link {
  color: var(--basic-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-link:hover,
.auth-link:focus {
  color: var(--main-accent-color);
}
/* header styles end */

/* Main index styles start */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--basic-bgc-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero-button {
  color: var(--basic-bgc-color);
  background-color: var(--main-accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.section-title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.features-subtitle {
  color: var(--title-color);

  font-weight: 700;
  line-height: 1.14;
}
.team-subtitle {
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
}
/* Main index styles end */

/* Main portfolio styles start */
.works-button {
  color: var(--title-color);
  background-color: var(--wrapper-bgc-color);

  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
}
.works-button:hover,
.works-button:focus {
  color: var(--basic-bgc-color);
  background-color: var(--main-accent-color);
}
.works-subtitle {
  color: var(--title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.works-text {
  font-size: 16px;
  line-height: 1.88;
}

/* Main portfolio styles end */

/* footer styles start */
.footer {
  background-color: #2f303a;
}
.footer > .header-logo {
  color: var(--basic-bgc-color);
}
.adress {
  color: var(--basic-bgc-color);

  font-style: normal;
}
.footer-link {
  color: var(--footer-link-color);
}
/* footer styles end */
